.DS_Store
/.vscode
/.idea
/logs
/config/config.yaml
/translator/logs/
/config/image.jpg
/config/new_image.jpg
/config/翻译历史.txt
/config/dango.lock
/config/draw.jpg
/翻译历史.txt
/config/other/new_image.jpg
/ocr/.paddleocr
/config/other/image.jpg
/config/tools/Driver_Notes/
/ocr.zip
/ocr
chromedriver_win32.zip
/translator/upload_trans_file.py
/config/cloud_config.json
/config/other/button.wav