requests==2.23.0
pyperclip==1.8.0
tencentcloud_sdk_python==3.0.170
scikit_image==0.15.0
urllib3==1.25.9
win32gui==221.6
system_hotkey==1.0.3
selenium==3.141.0
QtAwesome==0.7.1
opencv_python==4.2.0.34
Pillow==8.4.0
PyQt5==5.15.6
PyYAML==6.0
skimage==0.0
