altgraph==0.17
certifi==2020.4.5.1
chardet==3.0.4
decorator==4.4.2
future==0.18.2
idna==2.9
imageio==2.8.0
Js2Py==0.70
networkx==2.4
numpy==1.18.3
opencv-python==4.2.0.34
pefile==2019.4.18
Pillow==7.1.2
playsound==1.2.2
PyExecJS==1.5.1
PyHook3==1.6.1
PyInstaller==3.6
pyjsparser==2.7.1
pyperclip==1.8.0
PyQt5==5.14.2
PyQt5-sip==12.7.2
PyQtWebEngine==5.14.0
pytz==2020.1
PyWavelets==1.1.1
pywin32==227
pywin32-ctypes==0.2.0
QtAwesome==0.7.1
QtPy==1.9.0
requests==2.23.0
scikit-image==0.15.0
scipy==1.4.1
six==1.14.0
tencentcloud-sdk-python==3.0.170
tzlocal==2.0.0
urllib3==1.25.9
